<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="CoarseFineLocation">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Splash"
        tools:targetApi="31" >
        <activity
            android:name=".Driver.DriverHomeActivity"
            android:exported="false" />
        <activity
            android:name=".ControlActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Driver.DriverResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Driver.DriverLoginActivity"
            android:exported="false" />
        <activity
            android:name=".Driver.DriverRegistrationsActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.LogInActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".Admin.Registration"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDbjRbu2GC1g_m8_91GUh_BKgjzC0njm2g" />
    </application>

</manifest>