<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="CoarseFineLocation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.c2dm.permission.Reciever" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Splash"
        tools:targetApi="31">
        <activity
            android:name=".Admin.MoreClientDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Fragmants.DriverActivity"
            android:exported="false" />
        <activity
            android:name=".Fragmants.CarActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.UpdateCarActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.AddCarActivity"
            android:exported="false" />
        <activity
            android:name=".Driver.RequestActivity"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBUmb2l8HPC102pfNMWFxhalApV9SGSTYI" />

        <activity
            android:name=".Driver.DriverFullImageActivity"
            android:exported="false" />
        <activity
            android:name=".Driver.DriverProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.AcceptedClientActivity"
            android:exported="false" />
        <activity
            android:name=".Driver.ClientLocationActivity"
            android:exported="false" />
        <activity
            android:name=".Driver.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".Driver.ViewLocationActivity"
            android:exported="false" />
        <activity
            android:name=".Driver.AcceptedRequestActivity"
            android:exported="false" />
        <activity
            android:name=".Driver.AllRequestActivity"
            android:exported="false" />
        <activity
            android:name=".Driver.DriverHomeActivity"
            android:exported="false" />
        <activity
            android:name=".ControlActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Driver.DriverResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Driver.DriverLoginActivity"
            android:exported="false" />
        <activity
            android:name=".Driver.DriverRegistrationsActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.LogInActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".Admin.Registration"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <service
            android:name=".messaging.FirebaseService"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.send">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.Recieve" />
            </intent-filter>
        </service>
    </application>

</manifest>